/* .card {
  width: 50vh;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px 0px black;
} */

/* Full height container */
.container-fluid.h-100 {
  height: 100vh;
  background-color: #2C73EB; /* Use the blue shade from the image */
}

/* Left column for illustration and logo */
.signup-illustration {
  background: url('https://cdn.discordapp.com/attachments/919118836777766962/1234433443555967078/lf30_fe507ybk.json.png?ex=6630b73b&is=662f65bb&hm=8fb61567a7810697afac5f7fb8a1207782e6a57646bdc12b53c85513bf1d8ed8&') no-repeat center center;
  background-size: cover;
}

/* Right column for the signup form */
.signup-form {
  width: 90%;
  max-width: 500px;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Logo styles */
.logo-container .logo {
  max-width: 100px; /* Adjust size accordingly */
}

/* Signup header styles */
.signup-header h2 {
  font-size: 2.5rem; /* Match the design */
  color: #333;
}

.signup-header p {
  font-size: 1rem;
  color: #666;
}

/* Input fields styling */
.form-control {
  border-radius: 4px; /* Match the design */
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  height: auto; /* Adjust height as needed */
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: none; /* Remove or adjust the focus glow to match the design */
}

/* Button styling */
.btn-primary {
  background-color: #004085; /* Match the button color to the design */
  border-color: #004085;
  padding: .5rem 1rem; /* Adjust padding to match the design */
}

.btn-primary:hover {
  background-color: #003769;
  border-color: #003769;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .signup-illustration, .signup-form {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .signup-illustration {
    order: 2; /* Put the illustration at the bottom on small screens */
    height: 50%; /* Adjust height accordingly */
  }
  
  .signup-form {
    order: 1; /* Put the form on top on small screens */
    height: 50%; /* Adjust height accordingly */
  }
  .acc{
    color: black;
  }
}
